.passenger-commute {
  background-color: #ffffff;
  width:70%;
  height: auto;
  margin-top: 4cm;

}


.right-col{
  display: flex;
  flex-direction: column;
  
}
.bg-sort{
  position:static;
  margin-top: -7cm;


}

.cust-btn{
  position: static;
}


.commute-passenger-form {

    font-family: "Anybody-Regular", Helvetica;
}



.book-button {
  background-color: #75bf7a;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 500;
}

.book-button:hover {
  background-color: #4a9e5d;
}

.chat-button{
  background-color: #1f269fc1;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 8px;
}

.find-button{
  position: static;
  width: fit-content;
}

.greet{
  max-width: 90dvh;
  padding: 2%;
}

.list-unstyled{
  margin-top: 1cm;
}