.passenger-dashboard {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .driver-para {
    font-size: 20px;
  }
  
  .find-a-ride-btn {
    margin-top: 1rem;
  }
  
  .search-results {
    margin-top: 2rem;
  }
  
  .display-4 {
    font-size: 36px;
    font-weight: bold;
  }
  
  .driverdashpic {
    max-width: 100%;
    margin-top: 2rem;
  }
  .chat-butt{
    margin-top: -.5cm;
    margin-left: 17cm;
  }

  .sel-star{
    width: 2cm;
  }
  .rev-butt{
    margin-top: -0.4cm;
    margin-left: 4cm;
  }