
.landing-page .text-wrapper {
  background-color: #ffffff;
  color: #75bf7a;
  outline: none;
  border: none;
  font-family: "Audiowide-Regular", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0; /* Set left to 0 to align with the left edge of the container */
  letter-spacing: 0;
  line-height: 50px; /* Adjust line-height to vertically center text */
  position: absolute;
  top: 0; /* Set top to 0 to move the button to the top */
  white-space: nowrap;
  width: 415px; /* Adjust the width to match the container width */
  text-align: center; /* Center the text horizontally */
  margin: 20px 0; /* Add some top and bottom margin for spacing */
}

.img-2{
  border-radius: 80px;
}

.footer{
  margin-top: 15cm;
}
.main-image{
  border-radius: 1px;
}