.button-log{
  position: static;

}

.card-log{
  margin-top: .5cm;
  width:13cm;
  padding: 1cm;

}

.heading{
  margin-top: 5cm;
}

.signup-image {
  margin-top: 5cm;
  width: 50%; /* Make the image take the full width of its container */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  height: 50%; /* Maintain the aspect ratio of the image */
  border-radius: 8px; /* Add a rounded border for a nice effect */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  transition: transform 0.2s; /* Add a smooth hover effect */
  margin-left: auto;
}

