.login-page-driver {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page-driver .div {
  background-color: #ffffff;
  height: 650px;
  position: relative;
  width: 1280px;
}

.login-page-driver .header {
  background-color: transparent;
  height: 64px;
  left: 48px;
  position: absolute;
  top: 20px;
  width: 1210px;
}

.login-page-driver .group {
  height: 0px;
  left: 0;
  position: absolute;
  top: 0;
  width: 415px;
}

.login-page-driver .overlap-group {
  height: 0px;
  position: relative;
  width: 417px;
}

.login-page-driver .group-2 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  width: 417px;
}

.login-page-driver .text-wrapper {
  background-color: #ffffff;
  color: #75bf7a;
  outline: none;
  border: none;
  font-family: "Audiowide-Regular", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: -15px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 10;
  white-space: nowrap;
  width: 357px;
  height: 50px;  
}

.login-page-driver .group-3 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 53px;
}

.login-page-driver .vector {
  height: 21px;
  left: 24px;
  position: absolute;
  top: 11px;
  width: 6px;
}

.login-page-driver .text-wrapper-2 {
  color: #000000;
  font-family: "Actor-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 836px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.login-page-driver .text-wrapper-3 {
  color: #000000;
  font-family: "Actor-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 838px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.landing-page .text-wrapper-4 {
  color: #000000;
  font-family: "Actor-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1010px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}

.login-page-driver .overlap-wrapper {
  height: 50px;
  left: 1097px;
  position: absolute;
  top: 14px;
  width: 109px;
}

.login-page-driver .overlap {
  background-color: #75bf7a;
  border-radius: 5.95px;
  height: 50px;
  position: relative;
  width: 110px;
  left: 1125px;
  top: 11px;
}

.login-page-driver .menu{
  display: flex;
  justify-items: space-between;
  gap: 70px;
}

.login-page-driver .text-wrapper-5 {
  color: #ffffff;
  background-color: #75bf7a;
  font-family: "Actor-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1126px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  white-space: nowrap;
}



.login-page-driver .main-image {
  height: 420px;
  width: 500px;
  left: 772px;
  position: absolute;
  top: 160px;
}

.login-page-driver .login-form {
  color: #000000;
    font-family: "Anybody-Regular", Helvetica;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
    top: 240px;
    left: 110px;
}

.form-container {
    max-width: 408px;
    margin-top: 260px; /* top margin */
    margin-bottom: 20px; 
    margin-left: 107px; /*  left margin */
    margin-right: 20px; 
    
    font-family: "Anybody-Regular", Helvetica;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-page-driver .login-button {
  font-family: "Anybody-Regular", Helvetica;
  background-color: #75bf7a;
  color: #fff;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
}

.login-page-driver  .login-button:hover {
  background-color: #26692a;
}


