/* signup_driver.css */
.signup_driver-page {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
.gen{
  margin-left: 1cm;
  width: 10cm;
}
.veh{
  margin-left: 4cm;
  width: 10cm;
  margin-top: -1cm;
}

.group-2 {
  display: flex;
  align-items: center;
}

.group-3 {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.menu {
  display: flex;
  gap: 20px;
}

.signup_driver-form {
  font-size: 1cm;
  color: #75bf7a;

}

.signupdriver-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Add more CSS styles as needed */
